<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCVideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040B58B51CD1A6D9005D00B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040B58CE1CD1A6DA005D00B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040B58D91CD1A6DA005D00B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
